@import "./reset.css";
@import "./theme.css";
@import "./fonts.css";

body {
  /* font-family: "Recursive", sans-serif;
  font-variation-settings: "wght" 400, "slnt" 0, "CASL" 0, "CRSV" 0, "MONO" 0.68; */

  /* font-family: "LumaSans", sans-serif;   */
  /* font-family: "Archivo", sans-serif; */
  /* font-family: "HEX Franklin", sans-serif; */
  /* font-family: "Roboto Flex", sans-serif; */

  font-family: "Inter", sans-serif;
  /* font-family: "HEX Franklin", sans-serif; */
  /* background: var(--gray-2); */
  background: var(--sky-bg2);
  background: var(--sky-bg2);
  color: var(--gray-12);
  font-weight: var(--font-weight-normal);
  /* background-image: url("../assets/images/nnnoise-transparent.svg"); */
  background-repeat: repeat;

  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  align-items: center;

  margin: 0;
  padding: 0;
  text-align: left;
  font-size: var(--step-0);
  line-height: 1.6;
  display: flex;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

main,
header,
nav,
footer {
  /* max-width: calc(100% - 2em); */
  max-width: 1100px;
  /* margin: auto; */
  padding: 0 var(--space-m);

  width: 100%;
}

strong {
  font-weight: var(--font-weight-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  font-family: "HEX Franklin", sans-serif;
  /* font-variation-settings: "wght" 400, "slnt" 0, "CASL" 0, "CRSV" 0, "MONO" 0.68; */
}

h1 {
  font-size: var(--step-2);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

.page-header {
  margin-bottom: var(--space-l);
  align-self: start;
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

a {
  color: inherit;
}

p {
  margin-bottom: 1em;
}

input {
  font-size: var(--step-0);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  /* border-radius: var(--space-xs); */
}

@media (max-width: 720px) {
  main {
    padding: 1em;
  }
}

/* index.astro */

@media (hover: hover) {
  a:hover {
    font-weight: var(--font-weight-bold);
    transition: 0.3s ease-in-out;
    text-decoration: none;
  }
}

.mail-link {
  font-weight: var(--font-weight-normal);
  color: var(--gray-12);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

@media (hover: hover) {
  .mail-link:hover {
    color: var(--gray-12);
    cursor: pointer;
    color: var(--obsidian-accent);
  }
}

@media (hover: hover) {
  .out-link:hover {
    font-weight: var(--font-weight-bold);
    color: var(--obsidian-accent);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
}

.in-link {
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: var(--obsidian-accent);
}

.in-link:hover {
  color: var(--gray-12);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.description {
  margin-top: var(--space-1xs);
  margin-bottom: var(--space-3xs);
}

ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* line-height: 1.7; */
}

ul li * {
  text-decoration: none;
  transition: 0.1s ease;
}

ul li a {
  display: block;
}

a:focus {
  outline: 2px solid var(--apple-bg);
  outline-offset: 2px;
}
