@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,720,21,1.25,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--1: clamp(0.8889rem, 0.88rem + 0.0444vi, 0.9rem);
  --step-0: clamp(1rem, 0.9rem + 0.5vi, 1.125rem);
  --step-1: clamp(1.125rem, 0.9rem + 1.125vi, 1.4063rem);
  --step-2: clamp(1.2656rem, 0.8719rem + 1.9688vi, 1.7578rem);
  --step-3: clamp(1.4238rem, 0.8051rem + 3.0938vi, 2.1973rem);
  --step-4: clamp(1.6018rem, 0.686rem + 4.5791vi, 2.7466rem);
  --step-5: clamp(1.802rem, 0.4971rem + 6.5248vi, 3.4332rem);
  --step-6: clamp(2.0273rem, 0.2159rem + 9.057vi, 4.2915rem);

  /* @link https://utopia.fyi/space/calculator?c=320,8,1.2,1240,12,1.333,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-2xs: clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
  --space-xs: clamp(0.375rem, 0.3098rem + 0.3261vw, 0.5625rem);
  --space-s: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
  --space-m: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --space-l: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-xl: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-2xl: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  --space-3xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);

  /* Line heights */
  --line-height-single: 1;
  --line-height-display: 1.1;
  --line-height-tight: 1.3;
  --line-height-snug: 1.4;
  --line-height-body: 1.5;

  /* Letter spacing */
  --letter-spacing-condensed: -0.005em;
  --letter-spacing-normal: 0;
  --letter-spacing-loose: 0.01em;

  /* Radii */
  --radius-xs: var(--space-2xs);
  --radius-s: var(--space-xs);
  --radius-m: var(--space-s);
  --radius-l: var(--space-m);
  --radius-full: 9999px;

  /* Font weights */
  --font-weight-normal: 380;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* Colors */

  --background: hsl(35, 60%, 60%);
  --accent: var(--blue-12);
  --text-color: var(--gray-12);
  --gray-color: var(--gray-10);
  --black: var(--gray-12);
  --white: var(--gray-2);

  /* colors from https://playmosaic.om  
  a game designed by Graciela Smet — 
  https://www.gracielasmet.com/*/
  --mist-bg: rgb(234, 230, 219);
  --mist-text: rgb(105, 105, 103);
  --meadow-bg: rgb(239, 234, 178);
  --meadow-text: #63b996;
  --fern-bg: rgb(241, 244, 116);
  --fern-text: rgb(130, 133, 103);
  --apple-bg: rgb(90, 209, 76);
  --apple-text: rgb(62, 23, 68);
  --sky-bg: #abd8d8;
  --sky-text: rgb(105, 114, 171);
  --sand-bg: #e6d4af;
  --sand-text: rgb(58, 80, 101);
  --saffron-bg: rgb(252, 226, 103);
  --saffron-text: #e33b54;
  --basil-bg: rgb(153, 187, 66);
  --basil-text: rgb(40, 64, 64);
  --satin-bg: rgb(245, 184, 190);
  --satin-text: rgb(177, 55, 69);
  --orchid-bg: #f06aa5;
  --orchid-text: rgb(117, 1, 14);
  --pumpkin-bg: rgb(206, 86, 18);
  --pumpkin-text: rgb(247, 170, 41);
  --cherry-bg: rgb(176, 12, 27);
  --cherry-text: #fbea92;
  --lagoon-bg: rgb(25, 114, 120);
  --lagoon-text: rgb(237, 221, 212);
  --amethyst-bg: rgb(108, 61, 113);
  --amethyst-text: rgb(177, 202, 232);
  --cinnamon-bg: rgb(114, 61, 70);
  --cinnamon-text: rgb(255, 225, 168);
  --fudge-bg: #3b090e;
  --fudge-text: rgb(193, 53, 71);

  --lynn-text: rgb(61, 243, 194);
  --lynn-bg: rgb(66, 0, 90);
  --lynn-bg2: hsl(284, 100%, 5%);
}
