---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import LinusImage from "../assets/images/linus-with-plant.jpg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <main>
    <div class="page-header">
      <h1 class="page-title">About</h1>
    </div>
    <div class="grid-2">
      <div class="text-grid">
        <p>
          Hello and welcome to this small part of the web that is my website. My
          name is Linus, and I’m a part-time Sound Designer/Sound Engineer,
          part-time Web Developer.
        </p>
        <p>
          I wrote my first lines of code sometime in the mid-2000s. After
          learning the basics of HTML, I remember buying the domain
          linusonline.com and posting lyrics from some of my favorite artists. I
          had this idea: what if you could click on any word in the lyric and be
          taken to another random lyric that included the same word? In my
          memory, it was great. Though I honestly don’t remember how far I got
          with the design. I continued designing in Dreamweaver and later, like
          so many in these times, started playing around with the layouts of my
          own and my friends MySpace sites.
        </p>
        <p>
          After a Bachelor of Science in Information Sciences at Umeå
          University, a year studying Music for Cinema in Stockholm, and a
          course in Electrical Engineering at Mittuniversitetet, I have since
          spent over a decade working in sound and music for theatre, dance, and
          film. I’ve collaborated with a wide range of companies and artists,
          including long-term contracts with institutions such as
          Norrlandsoperan in Sweden and La Comédie de Genève in Switzerland.
        </p>
        <p>
          In late 2023, I decided to dive deeper into web design and
          development. I started with tutorials online (including courses from
          The Odin Project, Net Ninja, Angela Yu on Udemy) and continued by the
          bootcamp Fullstack Developer Program at Altcademy. Since then, I’ve
          been designing and building with modern tools like React, TypeScript,
          Astro, Ruby on Rails, Tailwind CSS and Figma. Still, beyond all the
          frameworks, I realised that the most essential tools remain the ones I
          started with: HTML, CSS, and JavaScript. They're still the foundation
          of the web, and the ones I keep learning and building with.
        </p>
        <p>
          Speaking of titles, I’ve noticed the term "Creative Technologist".
          I'll admit I'm not entirely sure what it means, but at the same time,
          it feels like a fitting description of the mix of work I do. My roles
          have often included the words "designer" and/or "technician". Whether
          it’s been doing sound or creating websites.
        </p>
        <p>
          I’m based in Geneva, originally from Norrbotten, Sweden. I’m available
          for freelance and collaborative projects. Whether you need a
          developer, a sound designer, or both.
        </p>

        <p>I speak Swedish, English, and French.</p>

        <div class="social-links-container">
          <p>
            Email:
            <a
              href="mailto:lnsjhnssn@gmail.com"
              class="out-link text-decoration-none">lnsjhnssn@gmail.com</a
            >
          </p>
          <!-- <p>
            GitHub:
            <a
              href="https://github.com/lnsjhnssn"
              class="out-link text-decoration-none"
            >
              @lnsjhnssn</a
            >
          </p>
          <p>
            Bluesky:
            <a
              href="https://bsky.app/profile/linusjohansson.bsky.social"
              class="out-link text-decoration-none"
            >
              @linusjohansson
            </a>
          </p>
          <p>
            Linkedin:
            <a
              href="https://www.linkedin.com/in/linus-johansson-riihimaki/"
              class="out-link text-decoration-none"
            >
              @linus-johansson-riihimaki
            </a>
          </p> -->
        </div>
        <div class="image-grid"></div>
      </div>
    </div>

    <style>
      .grid-2 {
        margin: var(--space-xl) 0;
        text-align: left;
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: var(--space-s);
        margin: 0 auto;
        padding-bottom: var(--space-xl);
      }

      @media screen and (max-width: 720px) {
        .grid-2 {
          grid-template-columns: 1fr;
        }

        .image-grid {
          order: -1;
          width: 100%;
        }

        .image-about {
          width: 100%;
          margin-bottom: var(--space-m);
        }
      }

      .image-grid {
        justify-self: end;
      }

      .out-link {
        color: var(--obsidian-accent);
        font-weight: var(--font-weight-bold);
      }

      .out-link:hover {
        color: var(--gray-12);
      }

      .text-decoration-none {
        text-decoration: none;
      }

      .social-links-container p {
        margin: 0;
      }
    </style>
  </main>
</Layout>
