---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import LinusImage from "../assets/images/linus-with-plant.jpg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <main>
    <div class="page-header">
      <h1 class="page-title">About</h1>
    </div>
    <div class="grid-2">
      <div class="text-grid">
        <p>
          Hello and welcome to this small part of the web that is my website. My
          name is Linus and I am a part-time Sound Designer / Sound Engineer,
          part-time Web Developer.
        </p>
        <p>
          I wrote my first lines of code sometime in the early 2000s. Learning
          the basics of HTML, I bought the domain linusonline.com and started
          putting up lyrics to some of my favourite music artists. I remember
          wanting to create a space where you could click on any word in the
          lyric and it would take you to another random lyric that included that
          same word. In my memory it was great but I don't remember, though, how
          far I finally came with the design. I later continued in Dreamweaver
          and, of course, started playing around with the designs of my own and
          my friends MySpace sites.
        </p>
        <p>
          After a Bachelor of Science in Information Sciences at Umeå
          University, a year studying Music for Cinema in Stockholm, and a
          course in Electrical Engineering at Mittuniversitetet, I have since
          spent over a decade doing sound and music for theatre, dance, and
          film. Along the way, I have occasionally made websites for friends and
          for myself, and in my daily job I have been coding MAX/MSP, a visual
          programming language for music and multimedia.
        </p>
        <p>
          In late 2023, I decided to learn modern web design and development. I
          started with tutorials online, (including courses from The Odeon
          Project, Net Ninja, Angela Yui on Udemy) and continued by enrolling at
          the bootcamp Fullstack Developer Program at Altcademy.
        </p>
        <p>
          Since then, I’ve been building and designing with modern tools like
          React, TypeScript, Astro, Ruby on Rails, Tailwind CSS, Figma and more.
          Apart from all the frameworks available, I believe the most important
          are still the ones I started my journey with — HTML, CSS, and JS. It
          is still the medium of the web, and a medium I love to learn and build
          with.
        </p>
        <p>
          Speaking of titles, I’ve noticed the term Creative Technologist. I'll
          admit I'm not entirely sure what it means, but at the same time, it
          feels like a fitting description of the work I do. My job titles have
          often included the words "designer" and/or "technician". Whether it’s
          been creating sounds or developing a website.
        </p>
        <p>
          I’m based in Geneva, originally from Norrbotten, Sweden. I’m available
          for freelance and collaborative projects. Whether you need a
          developer, a sound designer, or both.
        </p>

        <p>I speak Swedish, English, and French.</p>

        <div class="social-links-container">
          <p>
            Email:
            <a href="mailto:lnsjhnssn@gmail.com" class="mail-link"
              >lnsjhnssn@gmail.com</a
            >
          </p>
          <p>
            <a
              href="https://github.com/lnsjhnssn"
              class="out-link text-decoration-none"
            >
              GitHub @lnsjhnssn</a
            >
          </p>
          <p>
            <a
              href="https://bsky.app/profile/linusjohansson.bsky.social"
              class="out-link text-decoration-none"
            >
              Bluesky @linusjohansson
            </a>
          </p>
          <p>
            <a
              href="https://www.linkedin.com/in/linus-johansson-riihimaki/"
              class="out-link text-decoration-none"
            >
              LinkedIn @linus-johansson-riihimaki
            </a>
          </p>
        </div>
        <div class="image-grid"></div>
      </div>
    </div>

    <style>
      .grid-2 {
        margin: var(--space-xl) 0;
        text-align: left;
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: var(--space-s);
        margin: 0 auto;
        padding-bottom: var(--space-xl);
      }

      @media screen and (max-width: 720px) {
        .grid-2 {
          grid-template-columns: 1fr;
        }

        .image-grid {
          order: -1;
          width: 100%;
        }

        .image-about {
          width: 100%;
          margin-bottom: var(--space-m);
        }
      }

      .image-grid {
        justify-self: end;
      }

      .text-decoration-none {
        text-decoration: none;
      }

      .social-links-container p {
        margin: 0;
      }
    </style>
  </main>
</Layout>
