---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Blog from "../components/Blog.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <main>
    <div class="grid-2">
      <div class="text-grid">
        <h1 class="page-title">About</h1>
        <p>
          After finishing a Bachelor of Science in Information Sciences at Umeå
          University, a year studying Music for Cinema at Stockholm University,
          and a course in Electric Engineering at Mittuniversitet, I’ve mostly
          been making sound and music for theatre, contemporary dance, films,
          and podcasts. As a musician, I also release music with Old Amica and
          Folkvang.
        </p>
        <p>
          In 2024 I started the fullstack developer program at Altcademy to
          study coding and move toward working more in web design and
          development. I’ve been doing some HTML, CSS, and JavaScript since I
          was a teenager (remember Dreamweaver or tweaking your friend’s MySpace
          profile?), and in my theatre work I’ve done a bit of programming in
          MAX/MSP. But it wasn’t until quite recently that I really started
          diving into everything that goes into being a web developer by
          learning the tools and frameworks people use today. Like React,
          Typescript, Tailwind CSS, Astro, Ruby on Rails and more.
        </p>
        <p>
          If you’re looking for a developer for your next website or app, or a
          sound designer or mixer for your next project, feel free to reach out.
          I am looking for work.
        </p>
        <p><strong>Contact me:</strong> lnsjhnssn@gmail.com</p>
      </div>
      <div class="image-grid"></div>
    </div>
  </main>
</Layout>

<style>
  .grid-2 {
    margin: var(--space-xl) 0;
    /* max-width: 570px; */
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: var(--space-s);
    margin: 0 auto;
  }

  @media screen and (max-width: 800px) {
    .grid-2 {
      grid-template-columns: 1fr;
    }
  }

  .text-grid {
  }
</style>
