---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import LinusImage from "../assets/images/linus-with-plant.jpg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <main>
    <div class="page-header">
      <h1 class="page-title">About</h1>
    </div>
    <div class="grid-2">
      <div class="text-grid">
        <p>
          After finishing a Bachelor of Science in Information Sciences at Umeå
          University, a year studying Music for Cinema at Stockholm University
          and a course in Electric Engineering at Mittuniversitet, I’ve been
          moving between creating sound and music for theatre, dance and movies,
          and designing and developing websites.
        </p>

        <p>
          Skills: HTML, CSS, JavaScript, Astro, React, Tailwind, TypeScript,
          Wordpress, Node.js and more.
        </p>

        <p>I speak Swedish, English and French.</p>

        <div class="social-links-container">
          <p>
            <a
              href="mailto:lnsjhnssn@gmail.com"
              class="out-link text-decoration-none">Email</a
            >
          </p>
          <!-- <p>
            GitHub:
            <a
              href="https://github.com/lnsjhnssn"
              class="out-link text-decoration-none"
            >
              @lnsjhnssn</a
            >
          </p>
          <p>
            Bluesky:
            <a
              href="https://bsky.app/profile/linusjohansson.bsky.social"
              class="out-link text-decoration-none"
            >
              @linusjohansson
            </a>
          </p>
          <p>
            Linkedin:
            <a
              href="https://www.linkedin.com/in/linus-johansson-riihimaki/"
              class="out-link text-decoration-none"
            >
              @linus-johansson-riihimaki
            </a>
          </p> -->
        </div>
        <div class="image-grid"></div>
      </div>
    </div>

    <style>
      .grid-2 {
        margin: var(--space-xl) 0;
        text-align: left;
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: var(--space-s);
        margin: 0 auto;
        padding-bottom: var(--space-xl);
      }

      @media screen and (max-width: 720px) {
        .grid-2 {
          grid-template-columns: 1fr;
        }

        .image-grid {
          order: -1;
          width: 100%;
        }

        .image-about {
          width: 100%;
          margin-bottom: var(--space-m);
        }
      }

      .image-grid {
        justify-self: end;
      }

      .out-link {
        color: var(--obsidian-accent);
        font-weight: var(--font-weight-bold);
      }

      .out-link:hover {
        color: light-dark(var(--text-primary), var(--text-primary-dark));
      }

      .text-decoration-none {
        text-decoration: none;
      }

      .social-links-container p {
        margin: 0;
      }
    </style>
  </main>
</Layout>
