---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";
import NavbarProjects from "../components/NavbarProjects.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Blog from "../components/Blog.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <NavbarProjects />
  <main>
    <div class="grid-2">
      <div class="text-grid">
        <h1 class="page-title">About</h1>
        <p>
          After finishing a Bachelor of Science in Information Sciences at Umeå
          University, a year studying Music for Cinema at Stockholm University
          and a course in Electric Engineering at Mittuniversitet, I’ve been
          moving between creating sound and music for theatre, dance and movies,
          and designing and developing websites.
        </p>

        <a href="mailto:lnsjhnssn@gmail.com" class="mail-link">Email</a>

        <div class="social-links">
          <SocialLinks />
        </div>
      </div>
    </div>
    <div class="image-grid"></div>
  </main>
</Layout>

<style>
  .grid-2 {
    margin: var(--space-xl) 0;
    /* max-width: 570px; */
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: var(--space-s);
    margin: 0 auto;
    padding-bottom: var(--space-xl);
  }

  @media screen and (max-width: 800px) {
    .grid-2 {
      grid-template-columns: 1fr;
    }
  }

  .social-links {
    margin-top: var(--space-l);
  }
</style>
