---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";
import Blog from "../components/Blog.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <main>
    <div class="subtitle">
      <p>
        Creative technologist from Norrbotten, Sweden. Currently living in
        Geneva, Switzerland
      </p>
      <p>I design and develop websites. I make and mix sound.</p>
      <p>
        Get in touch: <a href="mailto:lnsjhnssn@gmail.com" class="mail-link"
          >lnsjhnssn@gmail.com</a
        >
      </p>
      <p></p>
    </div>

    <section>
      <Blog />
    </section>
  </main>
</Layout>

<style>
  .subtitle {
    max-width: 570px;
    margin-bottom: var(--space-xl);
  }

  @media (hover: hover) {
    .mail-link:hover {
      font-weight: var(--font-weight-bold);
      color: var(--accent);
      text-decoration: none;
      font-variation-settings: "slnt" -5;
      transition: 0.3s ease-in-out;
    }
  }
</style>
