---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";
import Blog from "../components/Blog.astro";

import Bluesky from "../assets/images/bluesky.svg";
import GitHub from "../assets/images/github.svg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <main>
    <div class="subtitle">
      <p>
        Web developer && Sound maker from Norrbotten, Sweden.
        <br />
        Living in Geneva, Switzerland
      </p>
      <p>
        I am available for work. Get in touch:
        <a href="mailto:lnsjhnssn@gmail.com" class="mail-link">
          lnsjhnssn@gmail.com
        </a>
      </p>
      <div class="social-links">
        <a href="https://github.com/lnsjhnssn" class="out-link">
          <GitHub width={22} height={22} fill="currentColor" />
        </a>
        <a
          href="https://bsky.app/profile/linusjohansson.bsky.social"
          class="out-link"
        >
          <Bluesky width={22} height={22} fill="currentColor" />
        </a>
      </div>
    </div>

    <section>
      <Blog />
    </section>
  </main>
</Layout>

<style>
  .subtitle {
    max-width: 570px;
    margin-bottom: var(--space-xl);
  }

  .social-links {
    display: flex;

    gap: var(--space-xs);
    margin-top: var(--space-l);
  }
</style>
