---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Blog from "../components/Blog.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <main>
    <div class="subtitle">
      <p>creative technologist from sweden, currently living in geneva.</p>
      <p>
        I design and develop websites • I create and mix sound • +10 years as
        sound designer and engineer for theatre and dance • makes music with old
        amica and folkvang • speaks english, french, swedish
      </p>

      <p>
        get in touch: <a href="mailto:lnsjhnssn@gmail.com" class="mail-link"
          >lnsjhnssn@gmail.com</a
        >
      </p>
      <p></p>
    </div>

    <section>
      <Blog />
    </section>
  </main>
</Layout>

<style>
  .subtitle {
    margin: var(--space-xl) 0;
    max-width: 570px;
  }

  @media (hover: hover) {
    .mail-link:hover {
      font-weight: var(--font-weight-bold);
      color: var(--accent);
      text-decoration: none;
      font-variation-settings: "slnt" -5;
      transition: 0.3s ease-in-out;
    }
  }
</style>
