---
import Layout from "../layouts/Layout.astro";
import NavbarHome from "../components/NavbarHome.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";
import Blog from "../components/Blog.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <!-- <NavbarHome /> -->
  <main>
    <div class="header">
      <h1>Hejsan, I'm Linus.</h1>
      <p class="subtitle">
        I'm a Web Developer and Sound Designer from Norrbotten, Sweden. Living
        in Geneva, Switzerland.
      </p>
      <div class="social-links">
        <p>
          <a href="/about">About</a>
        </p>
        <p>
          <a href="/">Work</a>
        </p>
        <p>
          <a href="mailto:lnsjhnssn@gmail.com" class="mail-link">
            Get in touch by email
          </a>
        </p>
        <!-- <SocialLinks /> -->
      </div>
    </div>

    <section class="blog-section">
      <Blog />
    </section>
  </main>
</Layout>

<style>
  .header {
    margin-top: var(--space-3xl);
  }
  .blog-section {
    margin-top: var(--space-xl);
  }
  .header {
    max-width: 500px;
    margin-bottom: var(--space-xl);
  }

  .social-links {
    display: flex;
    gap: var(--space-xs);
    /* margin-top: var(--space-xl); */
    margin-bottom: var(--space-3xl);
  }
  .subtitle {
    max-width: 520px;
  }

  @media screen and (min-width: 689px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-2xl);
    }
  }

  h1 {
    font-size: var(--step--1);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
    margin-bottom: 1em;
  }
</style>
