---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION_FR } from "../consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Blog from "../components/Blog.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION_FR}>
  <main>
    <p class="subtitle">
      technologist from sweden, currently living in geneva, switzerland. I
      create websites and I make and mix sound. previously @ Umeå University
      studying information science(Bachelor of Science) get in touch, I am
      looking for work.
      <a href="mailto:lnsjhnssn@gmail.com" class="mail-link"
        >lnsjhnssn@gmail.com</a
      >
    </p>

    <section>
      <Blog />
    </section>
  </main>
</Layout>

<style>
  .subtitle {
    margin: var(--space-xl) 0;
  }

  @media (hover: hover) {
    .mail-link:hover {
      font-weight: var(--font-weight-bold);
      color: var(--accent);
      text-decoration: none;
      font-variation-settings: "slnt" -5;
      transition: 0.3s ease-in-out;
    }
  }
</style>
