---
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");
const sortedPosts = allBlogPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<ul class="blog-list">
  {
    sortedPosts.map((post) => (
      <li>
        <div class="card">
          <a href={`/blog/${post.slug}`} class="image-link">
            {post.data.cover && (
              <Image
                class="image"
                src={post.data.cover}
                alt={post.data.coverAlt || post.data.title_english}
              />
            )}
          </a>
        </div>
      </li>
    ))
  }
</ul>

<style>
  .blog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--space-xs);
    margin: 0 auto;
  }

  .card {
    width: 100%;
  }

  .image {
    max-width: 100%;
    height: auto;
    /* border-radius: 20px; */

    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* filter: grayscale();
    transition: border ease-in-out 0.1s; */
  }

  .image:hover {
    /* filter: none; */
    border: 5px solid var(--apple-bg);
  }

  .date {
    margin-bottom: var(--space-3xs) 0;
    color: var(--mist-text);
    font-size: var(--step--1);
  }
</style>
