---
import Bluesky from "../assets/images/bluesky.svg";
import GitHub from "../assets/images/github.svg";
import LinkedIn from "../assets/images/linkedin.com.svg";
---

<div class="menu">
  <p>
    <a href="/web">Work</a>
  </p>
  <p>
    <a href="/about">About</a>
  </p>
</div>

<style>
  .menu {
    display: flex;
    gap: var(--space-s);
    justify-content: center;
    align-items: center;
    font-size: var(--step-0);
  }
</style>
