---
import "../styles/global.css";
import "../styles/fonts.css";
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import FooterSocialLinks from "../components/FooterSocialLinks.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Welcome to Trubbel Studio - A creative space for digital experiences",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="BHQGWBWC" defer
    ></script>
    <!-- / Fathom -->
    <title>{title}</title>
    <ClientRouter />
  </head>

  <body>
    <Navbar />
    <slot />
    <FooterSocialLinks />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
